@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.inline-flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

body {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.title {
    font-size: 50pt;
    background-color: rgba(93, 184, 173, 0.564);
    padding: 50px;
    font-weight: 500
}

.card {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}


.card-top {
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}

.form-title {
    font-size: 17pt;
    font-weight: 600
}

footer {
    width: inherit;
    font-size: 10pt;
    padding: 50px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.2);
}