@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body, html {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.flex-center {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.inline-flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    font-size: 35pt;
    background-color: rgba(184, 93, 93, 0.564);
    padding: 50px 20px 50px 20px;
    font-weight: 700;
    width: 100vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card {
    width: 200px;
    height: 70px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}


.card-top {
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}

.form-title {
    font-size: 17pt;
    font-weight: 600
}

footer {
    width: 100vw;
    font-size: 10pt;
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.2);
    margin-top: auto;

    a {
        color: black;
    }
    a:visited {
        color: black;
    }
}

.pure-button {
    font-weight: 500
}

.alert {
    color: red;
    width: 90%;
}